
         *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            /* color: beige; */
        }
        html,body{
            width: 100%;
            height: 100%;
        }
        h3{
          background-color: blueviolet;
          color: aliceblue;
          font-size: 30px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        form{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 30px;
        }
        input{
          padding: 5px 20px;
          margin: 40px;
          font-size: 30px;
        }
        textarea{
          padding: 5px 20px;
          font-size: 30px;
          /* field-sizing: content; */
          width: 300px;
          height: 55px;
          /* resize: vertical; */
        }
        button{
          padding: 5px 20px;
          background-color: blueviolet;
          color: aliceblue;
          font-size: 20px;
          border: none;
          border-radius: 5px;
        }
        .data{
          background-color: rgb(166, 71, 255);
          padding: 50px;
          margin-top: 50px;
          color: aliceblue;
        }
        .data2{
          display: flex;
          justify-content: space-between;
          font-size: 30px;
          margin: 10px;
        }